.menu
    div 
        img(src="/img/tailwind.png", alt="logo")
        span &nbsp;
        h3.page-title= appTitle
    ul(class=(admin)?'':'not-admin')
        li(class=(menu === 'home')?'active':'')
            a(href='/').menu-item HOME
        if(admin)
            li(class=(menu === 'dashboard')?'active':'')
                a(href='/admin/dashboard').menu-item DASHBOARD
            li(class=(menu === 'post')?'active':'')
                a(href='/admin/post').menu-item PUBBLICA
    ul 
        if(!admin)
            li(class=(menu === 'login')?'active':'')
                a(href='/login').login LOGIN
            li(class=(menu === 'registrati')?'active':'')
                a(href='/registrati').registrati REGISTRATI
        else
            li
                a(href='/logout').logout LOGOUT