extends layout 

block page 
    - var pageTitle = 'Homepage'
    - var menu = 'home'

block alert 
    if(message)
        p= message

block content 
    if (!articles[0])
        | Non ci sono articoli pubblicati al momento.
        | Pubblica tu per primo effettuando il:&nbsp;
        a(href="/login") login 
    else 
        .articoli 
            each article in articles
                .articolo
                    h2= article.titolo
                    div 
                        p=  article.corpo.slice(0,250)
                            | ...  
                            a(href=`/articolo/${article.idArticoli}`) vai all'articolo➡️
                        .autore
                            p Autore:&nbsp;
                            p= article.autore
                            