doctype html 
html(lang="it")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        block page
        title= appTitle + " - " + pageTitle
        link(rel="icon" href="images.ico")
        script(src="/js/script.js")
        link(rel="stylesheet", href="/css/style.css")
        //- script(src="https://cdn.tailwindcss.com") 
    body 
        block header 
            include includes/menu
        block alert
            if(message)
                if (message === "Post pubblicato correttamente!" || message === "Post modificato correttamente!" || message === "Registrazione avvenuta con successo!<br>Effettua il login.")
                    .alert.green
                        p!=message
                else 
                    .alert
                        p!=message
        .content 
            block content 
        block footer 
            footer 
             .container 
                p Footer del blog
