extends layout 

block page
    - var pageTitle = 'Login'

block alert 
    if(message)
        p!= message

block content 
    .center-container
        .form-container
            h2 Login
            form(action="/login", method="post")
                //- label(for="username") Username or Email:
                input(type="text" name="username" placeholder="Username or email" required)
                //- label(for="password") Password:
                input(type="password" name="password" placeholder="Password" required)
                input(type="submit", value="Login")