extends layout 

block page
    - var pageTitle = 'Logout'

block content
    .logout-container
        h2 Hai effettuato il logout con successo.
        p Verrai rendirizzato alla 
            a(href="/") homepage
            | &nbsp;tra:
        p#timer 5