extends layout

block page 
    - var menu = "post"
    - var pageTitle = "Pubblica"

block content 
    form(action="/admin/dashboard", method="post")
        input(type="text" name="idArticoli" value=`${article.idArticoli}` hidden)
        include includes/postModule