extends layout

block page 
    - var menu = "post"
    - var pageTitle = "Modifica post"

block content
    .center-container
        .form-container
            h2= pageTitle
            form(action="/admin/dashboard", method="post")
                input(type="text" name="idArticoli" value=`${article.idArticoli}` hidden)
                include includes/postModule