extends layout

block page 
    - var menu = "post"
    - var pageTitle = "Pubblica"

block alert 
    if(message)
        p= message

block content 
    .center-container
        .form-container
            h2 Pubblica
            form(action="/admin/post" method="post" enctype="multipart/form-data")
                include includes/postModule