extends layout

block page 
    - var menu = "post"
    - var pageTitle = "Pubblica post"

block alert
        .alert 
            p#ext

block content 
    .center-container
        .form-container
            h2= pageTitle
            form(action="/admin/post" method="post" enctype="multipart/form-data")
                include includes/postModule