html{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background-color: rgba(0, 0, 0, 0.9);
}

.page-title{
    color: white;
}

.page-title::before{
    content: '💌 ';
}

/* MENU' */

.menu{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 20px;
    align-items: center;
}

ul{
    padding-left: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

li{
    list-style-type: none;
    padding: 10px;
}

.login, .registrati, .logout{
    padding: 10px;
    border: 1px solid white;
    border-radius: 20px;
    color: white;
    text-decoration: none;
    font-weight: 600;
    padding-bottom: 8px;
}

.login:hover{
    background-color: white;
    color: black;
}

.registrati{
    background-color: white;
    color: black;
}

.logout{
    background-color: #EE222B;
    color: black;
    border: 0;
}

.menu-item{
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.menu-item:hover{
    text-decoration: underline;
    text-decoration-color: white;
    text-decoration-thickness: 3px;
    text-underline-offset: 3px;
}

.active{
    text-decoration: underline;
    text-decoration-color: white;
    text-decoration-thickness: 3px;
    text-underline-offset: 3px;
}

/* ALERT */

.alert{
    display: flex;
    justify-content: center;
    align-items: center;
}
.alert>p{
    width: fit-content;
    background-color: #EE222B;
    color: white;
    padding: 10px;
    border-radius: 10px;
    margin: 10px;
    text-align: center;
    font-weight: 600;
    margin-left: 0;
}
.not-admin>p{
    margin-left: -100px;
}

.green>p{
    background-color: #008100;
}

.content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    color: white;
}


/* DASHBOARD */

h2.dashboard{
    margin: 20px 20px;
    color: white;
}

.articoli{
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    margin: 20px 20px;
    padding: 0 10px;
    border: white 2px solid;
    overflow: hidden;
    border-radius: 30px;
    min-width: 500px;
}

button{
    border: 0;
    border-radius: 20px;
    padding: 10px;
    font-weight: 600;
    margin: 0 5px;
    cursor: pointer;
}

button.modifica{
    background-color: #FFA500;
}

button.elimina{
    background-color: #EE222B;
}

button.mostra{
    background-color: #008100;
}

button.nascondi{
    background-color: #dadada8f;
}

.articoli button:hover{
    opacity: 0.8;
}

.titolo-dash{
    margin-left: 10px;
    text-decoration: none;
    color: white;
    white-space: nowrap;
}

.titolo-dash::first-letter{
    text-transform: uppercase;
}




/* HOME */

.articoli-home{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.articolo-home{
    display: flex;
    flex-direction: column;
    max-height: 700px;
    min-height: 700px;
    max-width: 300px;
    min-width: 300px;
    text-align: center;
    border: 1px solid white;
    border-radius: 20px;
    margin: 10px;
    padding: 0 10px 10px 10px;
}

img{
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 5px;
}

.articolo{
    display: flex;
    flex-direction: column;
}