html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, rgba(0, 1, 36, 1), rgba(0, 0, 0, 0)),
    linear-gradient(to top, rgba(0, 1, 36, 1), rgba(0, 0, 0, 0));
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  width: 100%;
  min-height: 100vh;
  background: transparent; /* Assicurati che il background del body sia trasparente */
}

a{
  color: white;
}

/* MENU' */
.page-title {
  color: white;
}

.menu > div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-left: 10px;
}

.menu > div > div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

.menu > div > div > img {
  width: 20px;
  height: 20px;
  background-color: transparent;
  filter: grayscale(100%);
}

.menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 10px;
  align-items: center;
}
 
ul {
  padding-left: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

li {
  list-style-type: none;
  padding: 7px;
}

.login,
.registrati,
.logout {
  padding: 10px;
  border: 1px solid white;
  border-radius: 20px;
  color: white;
  text-decoration: none;
  font-weight: 600;
  padding-bottom: 8px;
}

.login:hover {
  background-color: white;
  color: black;
}

.registrati {
  background-color: white;
  color: black;
}

.logout {
  background-color: #ee222b;
  color: black;
  border: 0;
}

.menu-item {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.menu-item:hover {
  text-decoration: underline;
  text-decoration-color: white;
  text-decoration-thickness: 3px;
  text-underline-offset: 3px;
}

.active {
  text-decoration: underline;
  text-decoration-color: white;
  text-decoration-thickness: 3px;
  text-underline-offset: 3px;
}

.not-admin {
  padding-left: 5vw;
}

/* ALERT */

.alert {
  display: flex;
  justify-content: center;
  align-items: center;
}
.alert > p {
  width: fit-content;
  background-color: rgba(235, 14, 25, 0.6);
  color: white;
  padding: 10px;
  border-radius: 10px;
  margin: 10px;
  text-align: center;
  font-weight: 600;
  margin-left: 0;
}

.green > p {
  background-color: rgba(0, 196, 0, 0.5);
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  color: white;
  padding-bottom: 100px;
}

/* DASHBOARD */

h2.dashboard {
  margin: 20px 20px;
  color: white;
}

.articoli {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  margin: 20px 20px;
  padding: 0 10px;
  border: white 2px inset;
  overflow: hidden;
  border-radius: 30px;
  min-width: 500px;
  background-color: rgba(0, 1, 36, 0.3);
}

.articoli a {
  text-decoration: none;
  color: white;
  font-weight: 600;
  margin: 0 5px;
}

.articoli button {
  color: white;
}

.articoli img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 20px;
  padding: 5px 0px;
}


.articoli a:hover {
  text-decoration: underline;
  text-decoration-color: white;
  text-decoration-thickness: 3px;
  text-underline-offset: 3px;
}

button {
  border: 0;
  border-radius: 20px;
  padding: 10px;
  font-weight: 600;
  margin: 0 5px;
  cursor: pointer;
}

button.modifica {
  background-color: #ffa500;
}

button.elimina {
  background-color: #ee222b;
}

button.mostra {
  background-color: #008100;
}

button.nascondi {
  background-color: #dadada8f;
}

.articoli button:hover {
  opacity: 0.8;
}

.titolo-dash {
  margin-left: 10px;
  margin-right: 10px;
  text-decoration: none;
  color: white;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.titolo-dash::first-letter {
  text-transform: uppercase;
}

/* HOME */

.container{
  width: 100%;
  display: flex;
  justify-content: center;
}

.container > .row{
  flex-direction: row;
}

.container a{
  font-weight: 600;
}

.articoli-home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
}

.articolo-home {
  display: flex;
  flex-direction: column;
  max-height: 650px;
  max-width: 500px;
  min-width: 300px;
  width: 500px;
  text-align: center;
  border-radius: 20px;
  margin: 10px;
  padding: 0px 10px 20px 10px;
  background-color: rgba(255, 255, 255, 0.05);
}

.articolo-home > div > img {
  max-width: 80%;
  max-height: 250px;
  object-fit: contain;
  border-radius: 20px;
}


.articolo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.articolo > div{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

.articolo > div > img {
  max-height: 50vh;
  object-fit: contain;
  border-radius: 20px;
  max-width: fit-content;
}

.articolo > div > p{
  text-align: justify;
  width: 95%;
}
.view-article {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.8);
  background-color: rgba(255, 255, 255, 0.1);
  font-weight: 600;
  padding: 6px 10px;
  border: solid 1px rgba(255, 255, 255, 0.1);
  border-radius: 20px;
}

.view-article:hover {
  background-color: rgba(255, 255, 255, 0.2);
  color: rgba(255, 255, 255, 0.9);
}

.view-article::after {
  content: ">";
  margin-left: 3px;
}

.mod-article {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.8);
  background-color: rgba(187, 201, 0, 0.4);
  font-weight: 600;
  padding: 6px 10px;
  border: solid 1px rgba(255, 255, 255, 0.1);
  border-radius: 20px;
}

.mod-article:hover {
  background-color: rgba(187, 201, 0, 0.5);
  color: rgba(255, 255, 255, 0.9);
}

.articolo > .mod-article {
  width: fit-content;
  margin-bottom: 2vh;
}

/* LAYOUT */

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 1, 36, 0.8);
  color: white;
  height: 10vh;
  width: 100%;
  position: fixed;
  bottom: 0;
}

/* FORM */

.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: fit-content;
  padding: 0px 50px 50px 50px;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.05);
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

form > input::placeholder, textarea::placeholder {
  color: rgba(255, 255, 255, 0.6);
}

form > input, textarea {
  border: 0;
  border-radius: 20px;
  padding: 15px;
  margin: 10px 5px;
  background-color: rgba(226, 226, 226, 0.1);
  color: white;
  width: 100%;
}

textarea{
  width: 80vw;
}

form > input:focus::placeholder {
  color: rgba(0, 0, 0, 0);
}

form > input[type="submit"]:hover {
  cursor: pointer;
  opacity: 0.8;
}
form > input[type="submit"]{
  max-width: 200px;
}

form > img {
  max-height: 250px;
  object-fit: contain;
  border-radius: 20px;
  margin: 10px;
}

input[type="file"]{
  display: none;
}

.testo-centrato::placeholder{
  text-align: center;
}

.custom-file-label {
  display: inline-block;
  padding: 10px 20px;
  background-color: rgba(2, 100, 204, 0.3);
  color: white;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
  max-width: 200px;
}

.custom-file-label:hover {
  background-color: rgba(1, 66, 136, 0.5);
}

.center-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: -30px;
}

.logout-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.logout-container > p{
  font-weight: 600;
  text-align: center;
  text-wrap: wrap;
}

p a {
  font-size: 18px;
  text-decoration: none;
}

p a:hover{
  color: rgba(255, 255, 255, 0.541);
  text-decoration: underline;
}

input[type="submit"] {
  font-weight: 800;
  max-width: 90%;
}

label {
  color: white;
  font-weight: 500;
}

.row{
  text-align: center;
}


@media screen and (max-width: 768px) {
  .menu {
    flex-direction: column;
    align-items: center;
  }

  .menu > div {
    flex-direction: column;
    align-items: center;
  }

  .menu > div > img {
    width: 30px;
    height: 30px;
  }

  .menu-item {
    padding: 10px;
  }

  .not-admin {
    padding-left: 0;
  }

  .articoli {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    /* justify-content: center; */
    min-width: 80%;
  }

  .articoli button {
    margin: 5px;
  }

  .articoli button.modifica {
    margin-top: 10px;
  }

  .articoli button.elimina {
    margin-top: 10px;
  }

  .articoli button.mostra {
    margin-top: 10px;
  }

  .articoli button.nascondi {
    margin-top: 10px;
  }

  .articoli-home {
    flex-direction: column;
    align-items: center;
  }

  .articolo > .view-article {
    width: 90%;
  }

  .articolo > .view-article::after {
    content: ">";
    margin-left: 3px;
  }

  .articolo-home{
    width: 90%;
  }

  .articolo-home > div > p {
    height: fit-content;
  }

  .articolo-home > div > p{
    height: auto;
   }
  .oneline{
    min-height: fit-content;
}

.center-container {
  margin-left: 0px;
}

.dashboard{
  text-align: center;
}
    
}